{% extends 'todoApp/base.html' %}

{% block content %}
<div class="container">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Todo</h1>
    <div class="form-container">
        <form method="POST" class="create-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Todo</button>
            <a href="{% url 'index' %}" class="btn btn-primary">Back to Todo List</a>
        </form>
    </div>
</div>
{% endblock %}
