{% extends 'todoApp/base.html' %}

{% block title %}Todo App{% endblock %}
{% block content %}
<div class="row mx-5">
    <div class="col my-5">
        <h2 class="text-center mb-5">Here are your todos, Stay Organized . . .</h2>
<!--        add a href button to create a new todo and put it in the middle-->
        <a href="{% url 'create_todo' %}" class="btn btn-primary mb-3 btn-lg btn-block ">Add New Todo</a>
<!--add shadow to the table -->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date Created</th>
                <th scope="col">Completed</th>
                <th scope="col">Priority</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todos %}
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>
                    <a href="{% url 'detail' todo.id %}">
                        {{ todo.title }}
                    </a>
                </td>
                <td>{{ todo.date_created|date }}</td>
                <td>
                    <input type="checkbox" class="checkbox-btn" {% if todo.completed %} checked {% endif %} disabled>
                </td>
                {% if todo.priority == 'H' %}
                <td><span class="badge badge-danger">High</span></td>
                {% elif todo.priority == 'M' %}
                <td><span class="badge badge-info">Medium</span></td>
                {% elif todo.priority == 'L' %}
                <td><span class="badge badge-success">Low</span></td>
                {% else %}
                <td><span class="badge badge-info">None</span></td>
                {% endif %}
                <td>
                    <a href="{% url 'update_todo' id=todo.id %}">
                        <i class="bi bi-pencil-square btn btn-success"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_todo' id=todo.id %}">
                        <i class="bi bi-trash3-fill btn btn-danger"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}