{% extends 'todoApp/base.html' %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update New Todo</h1>
        <div class="form-container">
            <form method="POST" class="create-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update Todo</button>
                <a href="{% url 'index' %}" class="btn btn-primary">Back to Todo List</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}